/* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
/*
afternoon chai
rgb(207,194,145)
rgb(255,246,197)
rgba(0,112,255, 0.5)
rgb(255,113,44)
rgb(105,93,70)

*/
body{
	
}
/* header
================================================== */

header{
	background-color:black;
	flex:0 0 content;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-betwwn;	
}
 .bars{
	      flex:0 0 2em;
	      height:4em;
	      test-align:center;
	      margin-right:2em;
}
    .bars i{
	      line-height:2em;
}
    #nav{
          flex: 0 0 100%;
	      height: 0;
	      margin: 0;
	      padding: 0;
	      background-color: black;
	      overflow: hidden;
	      transition: all 0.5s ease;
	      list-style-type: none;
}
    #nav.show{
	      height: 10em;
}
    #nav li{
	      height: 2em;

}
    #nav li a{
	      display: block;
	      text-align: center;
	      line-height: 2em;
	      text-decoration:none;
	      color:white;
}

.title span{
	color:#fbda03;
	margin-left:2em;
}
.title-name{
	margin-top:0.5em;
}
/* main
================================================== */
main{
	background-image:url(../images/backgrond.jpg);
	background-repeat:repeat-y;
	background-repeat:repeat-x;
	width:100%;
}



/*for phablet - inclusive*/
@media only screen and (min-width : 24em) {
   
}

/*for phablet - exclusive*/
@media only screen and (min-width : 24em) and (max-width : 44.99999em) {

}


/*for tablet - inclusive*/
@media only screen and (min-width : 44em) {

}


/*for destop - inclusive*/
@media only screen and (min-width : 64em) {

}